body {
    margin: 0;
    font-family: Arial, Tahoma, sans-serif;
    background: #fdecef; /* وردي فاتح */
}

/* الشريط العلوي */
.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background: #2f3b3f;
}

.back-home, .signup-btn {
    color: white;
    text-decoration: none;
    padding: 6px 14px;
    border-radius: 4px;
}

.signup-btn {
    background: #e91e63;
}

.signup-btn:hover {
    background: #d81b60;
}

.logout-btn {
    background: #e91e63;
    color: white;
    padding: 6px 14px;
    border-radius: 4px;
    text-decoration: none;
}

.logout-btn:hover {
    background: #d81b60;
}
/* الحاوية */
.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
}

/* الكرت */
.login-card {
    background: white;
    width: 320px;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 15px rgba(233, 30, 99, 0.3);
}

.login-card h2 {
    margin-bottom: 15px;
    color: #e91e63;
}

/* الأيقونة */
.icon {
    font-size: 40px;
    margin-bottom: 20px;
}

/* الحقول */
.login-card input {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 6px;
    border: 1px solid #f8bbd0;
}

/* الزر */
.login-card button {
    width: 100%;
    padding: 10px;
    background: #e91e63;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.login-card button:hover {
    background-color: #d81b60;
}