{% extends "dashboard/base.html" %}

{% block content %}
<main class="content">
    <form method="post">
        {% csrf_token %}
        <div class="card">
            <div class="card-header">
                <h5>Add New Order</h5>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <label>Customer</label>
                    {{ form.customer_id }}
                </div>
                
                <div class="mb-3">
                    <label>Total Price</label>
                    {{ form.total_price }}
                </div>

                <div class="mb-3">
                    <label>Status</label>
                    {{ form.status }}
                </div>
                
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </div>
    </form>
</main>
{% endblock %}
