<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="index.html">
  <span class="align-middle">AdminKit</span>
</a>

        <ul class="sidebar-nav">
            <li class="sidebar-header">
                Pages
            </li>

            <li class="sidebar-item active">
                <a class="sidebar-link" href="{%url 'indexDash'%}">
      <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
    </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="{%url 'pages_profile'%}">
      <i class="align-middle" data-feather="user"></i> <span class="align-middle">Profile</span>
    </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="{%url 'pages_sign_in'%}">
      <i class="align-middle" data-feather="log-in"></i> <span class="align-middle">Sign In</span>
    </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="{%url 'pages_sign_up'%}">
      <i class="align-middle" data-feather="user-plus"></i> <span class="align-middle">Sign Up</span>
    </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="{%url 'pages_blank'%}">
      <i class="align-middle" data-feather="book"></i> <span class="align-middle">Blank</span>
    </a>
            </li>

            <li class="sidebar-header">
                Tools & Components
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="{%url 'list_product'%}">
      <i class="align-middle" data-feather="square"></i> <span class="align-middle">Prodect list</span>
    </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="{%url 'add_a_product'%}">
      <i class="align-middle" data-feather="check-square"></i> <span class="align-middle">add a prodect</span>
    </a>
           
            <li class="sidebar-item">
                <a class="sidebar-link" href="{%url 'list_customer'%}">
      <i class="align-middle" data-feather="square"></i> <span class="align-middle">Customer list</span>
    </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="{%url 'add_a_customer'%}">
      <i class="align-middle" data-feather="check-square"></i> <span class="align-middle">add a Customer</span>
    </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="{%url 'list_order'%}">
      <i class="align-middle" data-feather="square"></i> <span class="align-middle">order list</span>
    </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="{%url 'add_a_order'%}">
      <i class="align-middle" data-feather="check-square"></i> <span class="align-middle">add a order</span>
    </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="{%url 'list_orderitem'%}">
    <i class="align-middle" data-feather="square"></i> <span class="align-middle">Order Item list</span>
  </a>
          </li>

          <li class="sidebar-item">
              <a class="sidebar-link" href="{%url 'add_a_orderitem'%}">
    <i class="align-middle" data-feather="check-square"></i> <span class="align-middle">add a Order Item</span>
  </a>

            <li class="sidebar-item">
                <a class="sidebar_link" href="{%url 'icons_feather'%}">
      <i class="align_middle" data-feather="coffee"></i> <span class="align_middle">Icons</span>
    </a>
            </li>

            <li class="sidebar-header">
                Plugins & Addons
            </li>

            <li class="sidebar-item">
                <a class="sidebar_link" href="{%url 'charts_chartjs'%}">
      <i class="align-middle" data-feather="bar-chart-2"></i> <span class="align-middle">Charts</span>
    </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="{%url 'maps_google'%}">
      <i class="align-middle" data-feather="map"></i> <span class="align-middle">Maps</span>
    </a>
            </li>
        </ul>

        <div class="sidebar-cta">
            <div class="sidebar-cta-content">
                <strong class="d-inline-block mb-2">Upgrade to Pro</strong>
                <div class="mb-3 text-sm">
                    Are you looking for more components? Check out our premium version.
                </div>
                <div class="d-grid">
                    <a href="{%url 'upgrade_to_pro'%}" class="btn btn_primary">Upgrade to Pro</a>
                </div>
            </div>
        </div>
    </div>
</nav>